*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
 
}

.wrapper {
  
}

header {
  
}

.card {
 
}

.card-header::after {
 
}

.card-body {
 
}

.card-footer {
  
}

.card-footer::before {
  
}

.card-footer::after {
  
}

.btn {

}

button[disabled] {
 
}

.float-right {
 
}

#password {

}

@media (max-width: 690px) {
  .
  }

  #password {
    
  }
}

@media (max-width: 500px) {

  }
}